@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin flexbetween () {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bgimg($bgimg) {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($bgimg);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    margin: 0;
}

section h2 {
    font-size: 35px;
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
}

* {
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    background-color: #fff;
    &:nth-of-type(2n) {
        background-color: #ebebeb;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

.intro {
    // @include bgimg("../img/bgimg.jpg");
    background-position: 100% 100%;
    position: relative;
    height: 100vh;
    min-width: 0;
    width: 100%;
    overflow: hidden;
    .slider {
        width: inherit;
        min-width: 0;
        height: 100vh;
        position: relative;
        top: 0;
        &__item {
            width: inherit;
            height: 100vh;
            &-img {
                width: inherit;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .yahta-img {
                background-image: url(../img/bgimg2.jpg);
            }
            .consierge-img {
                background-image: url(../img/bgimg.jpg);
                background-position: 40%;
            }
            .consierge-img1  {
                background-image: url(../img/bgimg1.jpg);
                background-position: 40%;
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 91vh;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1003;
            padding-left: 0;
        }
        .slick-dots li {
            list-style: none;
            margin: 0 5px;
        }
        /* Активная точка */
        .slick-dots li.slick-active button {
            background-color: #fff;
            transition: 1s;
        }
        /* Элемент точки */
        .slick-dots li button {
            font-size: 0;
            padding: 5px;
            border: 1px solid #fff;
            background-color: transparent;
            border-radius: 50%;
            transition: 1s;
            cursor: pointer;
        }
        .slick-list {
            overflow: hidden;
        }
        /* Лента слайдов */
        .slick-track {
            display: flex;
            flex-wrap: nowrap;
        }
    }
    &_shadow1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background-color: #000;
        z-index: 1001;
        transition: 0.5s;
    }
    // &_shadow2 {
    //     opacity: 0.35;
    //     background-color: #000;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 1002;
    //     mix-blend-mode: multiply;
    // }
    .container {
        position: absolute;
        top: 0;
        left: 7%;
        right: 7%;
        width: 1024px;
        margin: 0 auto;
        z-index: 1003;
    }
    &_header {
        margin-top: 15vh;
        z-index: 3;
        &_nav, &_nav2 {
            @include flexbetween();

        }
        &_nav2-item {
            font-weight: 300;
            z-index: 3;
            text-transform: uppercase;
            &:hover {
                text-shadow: 0 0 3px #fff;
            }
        }
        &-item {
            font-weight: 300;
            z-index: 3;
            text-transform: uppercase;
            &:hover {
                text-shadow: 0 0 3px #fff;
            }
        }
        &-mobile {
            &-button {
                display: none;
            }
        }
    }
    .main {
        color: #fff;
        width: 60%;
        margin: 0 auto;
        position: relative;
        z-index: 3;
        padding-top: 100px;
        &-subtitle {
            font-weight: 100;
            font-size: 30px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &-title {
            font-family: MADE Bon Voyage;
            font-size: 104px;
            line-height: 0.95;
            text-align: center;
            font-weight: 100;
            margin-bottom: 100px;
        }
        &-videoButton {
            width: 70px;
            display: inherit;
            margin: 0 auto;
            margin-bottom: 30px;
            cursor:pointer;
        }
        &-desc {
            text-align: center;
            font-weight: 200;
            font-size: 18px;
            margin-top: 10px;
        }
    }
}

.service {
    text-align: center;
    color: #1c1c1c;
    padding-bottom: 20px;
    &-title {
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 50px;
        font-size: 23px;
    }
    &-desc {
        font-weight: 300;
        margin: 0;
        &:first-of-type {
            margin-top: 30px;
        }
        &:last-of-type {
            margin-bottom: 20px;
        }
    }
    &_cards {
        @include flexbetween();
        align-items: flex-start;
        &-item {
            width: 23%;
            
            .cards-item {
                
                &_title {
                    font-weight: 500;
                    white-space: nowrap;
                }
                &_desc {
                    white-space: nowrap;
                    margin-top: 0;
                    margin: 0;
                    font-size: 14px;
                    &:first-of-type {
                        margin-top: 10px;
                    }
                    &:last-of-type {
                        margin-bottom: 20px;
                    }
                }
                &_price {
                    font-size: 25px;
                    
                    &-last {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.years6 {
    .slider2 {
        width: inherit;
        min-width: 1024px;
        height: 300px;
        position: relative;
        &_item {
            width: inherit;
            height: 300px;
            .vip-img {
                height: 300px;
                background-image: url(../img/slider2-1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                color: #fff;
                text-align: center;
                padding-top: 100px;
                &_title {
                    font-weight: 400;
                    font-size: 20px;
                }
                &_desc {
                    font-weight: 300;
                    font-size: 15px;
                    &:not(:first-of-type) {
                        margin-top: 0;
                    }
                    &:not(:last-of-type) {
                        margin-bottom: 0;
                    }
                    display: flex;
        flex-direction: column;
                }
            }
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding-left: 0;
            bottom: 10px;
        }
        .slick-dots li {
            list-style: none;
            margin: 0 5px;
        }
        /* Активная точка */
        .slick-dots li.slick-active button {
            background-color: #fff;
            transition: 1s;
        }
        /* Элемент точки */
        .slick-dots li button {
            font-size: 0;
            padding: 5px;
            border: 1px solid #fff;
            background-color: transparent;
            transition: 1s;
            border-radius: 50%;
            cursor: pointer;
            z-index: 5;
        }
        .slick-list {
            overflow: hidden;
        }
        /* Лента слайдов */
        .slick-track {
            display: flex;
            flex-wrap: nowrap;
        }
    }
}

.roots,
.assistance,
.howwework {
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
        padding: 80px 0;
        color: #1c1c1c;
        text-align: center;

    }
    &-link {
            text-decoration: none;
            border: 1px solid;
            padding: 10px;
            color: #000;
            font-size: 15px;
            margin-bottom: 30px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
            &:hover {
                background-color: rgb(248, 248, 248);
            }
    }
    &-desc {
        font-weight: 300;
        strong {
            font-weight: 500;
        }
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.assistance {
    padding-bottom: 50px;
    text-align: center;
    &-desc {
        &:last-of-type {
            margin-bottom: 20px;
        }
    }
    &-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 10%;
        overflow: hidden;
        &-item {
            width: 47%;
            height: 320px;
            background-color: gray;
            margin-bottom: 6%;
            text-align: center;
            color: #1c1c1c;
            padding-top: 100px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            opacity: 100%;
            cursor: pointer;
            transition: 1s ease-out, 1s ease-out, ;
             
            &.animation {
            opacity: 0;
            // animation: example_animation 500ms;
            // animation-fill-mode: forwards;
            // -webkit-animation: example_animation 500ms;
            // -webkit-animation-fill-mode: forwards;
            // opacity:100%;
            // height:320px;
            // margin-bottom: 6%;
            // padding-top: 100px;
            }
            &.height-animation {
                height: 0;
                margin: 0;
                padding: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0px;
                bottom: 0px;
                background-color: #fff;
                opacity: 50%;
                z-index: 0;
                transition: 1s;
            }
            &:nth-of-type(4n+3),
            &:nth-of-type(4n+2) {
                color: #fff;
                &::after {
                    opacity: 72%;
                    background-color: #303030;
                }
            }
            &:hover {
                &::after {
                opacity: 55%;
                }
            }
            &.podbiraem-broniruem {
                background-image: url(../img/uslugi/uslugi1.jpg);
            }
            &.organizaciya-chastnih {
                background-image: url(../img/uslugi/uslugi2.jpg);
            }
            &.predostavleniya-transfera {
                background-image: url(../img/uslugi/uslugi3.jpg);
            }
            &.predostavleniya-ohrani {
                background-image: url(../img/uslugi/predostavleniya-ohrani.jpg);
            }
            &.arenda-yaht {
                background-image: url(../img/uslugi/uslugi4.jpg);
            }
            &.hotels-villas {
                background-image: url(../img/uslugi/hotels2.jpg);
            }
            &.organizaciya-detskogo {
                background-image: url(../img/uslugi/organizaciya-detskogo.jpg);
                background-position: 95%;
            }
            &.organizaciya-detskogo2 {
                background-image: url(../img/uslugi/detskiiotdih2.jpg);
            }
            &.gastro-turi {
                background-image: url(../img/uslugi/uslugi5.jpg);
                div p {
                    font-size: 13px;
                }
            }
            &.gastro-gid {
                background-image: url(../img/uslugi/gastro-gid.jpg);
            }
            &.gastro-gid2 {
                background-image: url(../img/uslugi/gastro-gid2.jpg);
            }
            &.dostup-k-luchshim {
                background-image: url(../img/uslugi/uslugi6.jpg);
            }
            &.travel-turi {
                background-image: url(../img/uslugi/travel-turi.jpg);
            }
            &.zakaz-dostavka {
                background-image: url(../img/uslugi/uslugi7.jpg);
            }
            &.uslugi-somelie {
                background-image: url(../img/uslugi/uslugi8.jpg);
            }
            &.uslugi-somelie2 {
                background-image: url(../img/uslugi/somelie2.jpg);
                background-size: 107%;
            }
            &.semeyniy-uzhin {
                background-image: url(../img/uslugi/semeyniy-uzhin.jpg);
            }
            &.gifts {
                background-image: url(../img/uslugi/gifts.jpg);
                background-size: 122%;
            }
            &.bileti {
                background-image: url(../img/uslugi/bileti.jpg);
            }
            &.kartini {
                background-image: url(../img/uslugi/kartini.jpg);
            }
            &.butiki {
                background-image: url(../img/uslugi/butiki.jpg);
                background-size: 170%;
            }
            &.personal {
                background-image: url(../img/uslugi/personal.jpg);
                background-size: 123%;
            }
            &.beach {
                background-image: url(../img/uslugi/beach.jpg);
            }
            
            .title {
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                opacity: 1;
                &:first-of-type {
                    margin-bottom: 0;
                }
                &:last-of-type {
                    margin-top: 0;
                }
                position: relative;
                z-index: 1;
            }
            .desc {
                font-size: 15px;
                font-weight: 400;
                opacity: 1;
                &:not(:first-of-type) {
                    margin-top: 0;
                }
                &:not(:last-of-type) {
                    margin-bottom: 0;
                }
                position: relative;
                z-index: 1;
            }
        }
    }
}

.roots {
    &-title {
        margin-bottom: 20px;
    }
}

.howwework,
.advantages,.tarifi,.faces,
.footer {
    padding-top: 90px;
    text-align: center;
    .container {
        @include flexbetween();
        width: 70%;
        text-align: center;
        padding-top: 20px;
    }
    &-title {
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

    }
    &-column {
        width: 40%;
        &-wrapper {
            @include flexbetween();
            justify-content: flex-start;
            width: 100%;
            margin: 5px 0;
            &:not(:last-of-type) {
                margin-bottom: 40px;
            }
            &:last-of-type {
                align-items: flex-end;
            }
            &_digit {
                font-size: 60px;
                font-weight: 500;
                margin: 0;
                margin-right: 70px;
                width: 12%;
            }
            &_desc {
                font-size: 15px;
                &:not(:first-of-type) {
                    margin-top: 0;
                }
                &:not(:last-of-type) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.advantages {
    background-color: #fff;
    padding-bottom: 100px;
    &-title {
        margin-bottom: 20px;
        text-transform: uppercase;
        &:nth-of-type(1) {
            margin-bottom: 25px;
        }
        &:last-of-type {
            margin-top: 0;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .container {
        align-items: flex-start;
    }
    &-column {
        justify-content: flex-start;
        align-items: flex-start;
        &-title {
            font-weight: 500;
            text-transform: uppercase;
            text-align: left;
        }
        &-desc {
            text-align: left;
        }
    }
    &-wrapper {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
        &:last-of-type {
            align-items: flex-start;
        }
        p {
            font-size: 18px;
        }
    }
}

.tarifi {
    background-color: #fff;
    max-width: 100%;
    padding-bottom: 50px;
    .container {
        display: block;
    }
    &-card {
        text-align: center;
        padding: 20px 0;
        margin: 20px 0;
        padding: 10px;
        &-title {
            font-size: 23px;

        }
        &-desc {
            &-first {
                    margin:30px 0 30px 0;
                    font-weight: 500;
            }
            position: relative;
            line-height: 30px;
            text-align: left;
            &:nth-last-of-type(1) {
                margin-bottom: 30px;
            }
            &::before {
                content: "";
                position: absolute;
                left: -20px;
                top: 10px;
                padding: 2.7px;
                background-color: #000;
                border-radius: 50%;
            }
        }
        &-price {
            text-align: center;
            font-weight: 400;
            border: 1px solid;
            padding: 10px;
            display: inline-block;
            color: #000;
            cursor: pointer;
        }
    }
}
.faces {
    padding-bottom: 50px;
    &-title {
        margin-bottom: 20px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &-wrapper {
        width: 50%;
        &:nth-of-type(1),&:nth-of-type(2) {
            margin-bottom: 15px;
        }

        &:nth-last-of-type(1) {
            justify-self: center;
            margin: 0 auto;
        } 
    }
    &-images {
        width: 70%;
        padding: 0 14px;
    }
    &-name {
        margin-bottom: 5px;
        margin-top: 10px;
    }
    &-position {
        margin-top: 0;
        margin-bottom: 10px;
    }

}
.howwework {
    background-color: #fff;
    padding: 40px 0 0 0 ;
    .container {
        padding-bottom: 40px;
    }
    &-column {
        &-wrapper {
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
            div{
                width: 70%;
                p {
                font-weight: 500;
                text-align: left;
                }
            }
        }
    }
}

.scroll, .scroll:active, .scroll:focus {
    &,a, a:focus, a:active {
        text-decoration: none;
        color: black;
        outline: none;
    }

    z-index: 1004;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 40px;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../img/scroll.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    border: 1px solid #fff;
    opacity: 0.5;
}
.scroll.up {
    bottom: 31px;
    &:hover {
        opacity: 0.8;
    }
}

@mixin inputStyle {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #0c0c0c;
}

.footer {
    background-color: #555555;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
    text-transform: uppercase;
    &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 90px;
        margin: 0 auto;
    }
    &-desc {
        font-size: 15px;
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 100;
        &:last-of-type {
            margin-bottom: 0;
            img {
                text-align: center;
                width: 30px;
                height: 20px;
            }
        }
        &.footer-mail {
            text-transform: none;
        }
    }
    &-form {
        width: 580px;
        height: 50px;
        margin: 0 auto;
        @include flexbetween();
        @include inputStyle();
        &-input {
            border: none;
            outline: none;
            width: 50%;
            height: 100%;
            background-color: #fff;
            @include inputStyle();
            &::placeholder {
                @include inputStyle();
                @include flexcenter();
            }
        }
        &-button {
            width: 50%;
            height: 100%;
            background-color: #ebebeb;
            @include inputStyle();
        }
        .flex {
            @include flexcenter();
        }
        margin-bottom: 70px;
    }
}

.header-mobile-button {
    display: none;
}

.intro_header_nav2 {
    display: none;
}

@media (min-width:675px) and (max-height:777px) {
    .intro,
    .intro .slider,
    .intro .slider .slick-list,
    .intro .slider .slick-track,
    .intro .slider .slider__item-img
      {
        min-height: 777px;
    }
    .intro .slider .slick-dots {
        top: 700px;
        position: fixed;
        top: 93vh;
    }
    
}
@media (max-width:1280px) {
    .footer-title {
        text-align:left;
    }
    .service-title {
        font-size: initial;
    }
}

@media (max-width:1125px) {
    .intro {
        min-width: 0;
        width: 100%;
        .container {
        width: initial;
        .main {
            width: 100%;

        }
        }
        &_header {
            &_nav, &_nav2 {
                flex-wrap: wrap;

            }
            &-item {
                font-size: 19px;
                width: 26%;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
    .service_cards-item {
        height: 245px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .cards-item_title {
            white-space: initial;
        }
        .cards-item_desc {
            white-space: initial;
        }
    }
    .assistance {
        &-card {
            padding:0;
            margin-bottom: 50px;
            &-item {
                width: 50%;
                margin-bottom: 0;
                padding-top: 75px;
                height: 250px;
                .title {
                    font-size: 14px;
                }
                .desc {
                    font-size: 14px;
                }
            }
        }
    }
    .howwework-column {
        width: 50%;
        height: 458px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        p, div {
            margin: 0 10px;
        }
    }

    .howwework,
    .advantages {
        .container {
            width: 80%;
            margin: 0 auto;
        }
    }

    .advantages {
        &-column {
            width: 48%;
        }
    }
    .years6 .slider2 {
        width: 100%;
        min-width: 0;
    }
    .faces {
        &-wrapper {
            width: 80%;
            margin: 0 auto;
        }
    }
    .cards-item_price-last {
        margin: 0;
    }
}

@media (min-width:1024px) {
    .tarifi-card-desc {
        margin-left: 15%;
    }

    .roots {
        .container {
            width: 591px;
            line-height: 23px;
        }
    }
    .intro .slider__item .consierge-img1, {
        background-position-y: 69%;
    }
    .intro .slider__item .consierge-img {
        background-position-y: 90%;
    }
}

@media (max-width:825px) {
    .service_cards { 
        flex-wrap:wrap;
        &-item {
            width:50%;
            padding-bottom: 20px;

            .cards-item_price-last {
                line-height: 24px;
            }
            
        }
    }
    .service_cards-item-last {
        height: 251px;
        .cards-item_price-last {
            font-weight: bold;
    font-size: 17px;
        }
    }
    .howwework {
        .howwework-column-wrapper_desc {
        text-align: left;
    }

    }

@media (max-width:790px) {
    .service_cards-item .cards-item_price-last {
    line-height: initial;
    margin: 0;
    }
    .tarifi-card-price {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        strong {
            width: 100%;
        }
    }
    .assistance-card-item.gastro-turi div p {
        margin-top: 3px;
    }
    .intro .slider__item .consierge-img1 {
        background-image: url(../img/bgimg1.jpg);
        background-position: 20%;
    }
}
    

@media (max-width:580px) {
    .service_cards { 
        &-item {
            width:100%;
            &:first-of-type {
                height: 210px;
            }
            &:nth-last-of-type(1) {
                height: 289px;
            }
             .cards {
             &-item {
                    &_desc {
                        &:not(:first-of-type) {
                            line-height: 1px;
                        }
                    }
                    &_price {
                        &-last {
                            font-size: 25px;
                            font-weight: bold;
                        }
                    }
                    
                }

             }
        }
    }
    .years6 .slider2_item .vip-img_desc {
        padding: 0 5%;
        display: inline;
    }
}
@media (max-height:682px) and (min-width:1024px) {
    .intro {
        .main {
            &-subtitle {
                font-size: 5vh;
                margin-bottom: 2vh;
            }
            &-title {
                font-size: 11vh;
                margin-bottom: 2vh;
            }
            &-videoButton {
                width: 10vh;
                margin-bottom: 1vh;
            }
        }
        .slider {
            .slick-dots {
                top: 89vh;
            }
        }
        .container {
            width: 888px;
        }
    }
}
@media (max-width:680px) {
    .intro { 
        .container-mobile {
            width: 100%;
            left: 0;
            right: 0;
            position: relative;
        }
        .slider .slick-dots {
            top: 90vh;
        }
        .main {
            &-title {
                
            }
        }
        &_shadow2 {
            transition: 2s;
        }
        &_header{
            z-index: 1007;
            &-item {
                width: 100%;
                margin-bottom: 12px;
            }
            &-mobile-button {
                display: block;
                width: 29px;
                height: 26px;
                position: absolute;
                z-index: 1007;
                top: 12vh;
                right: 30px;
                transition: 1s;
                background-image: url(../img/mobile-menu.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-color: transparent;
                &-exit {
                    background-image: url(../img/mobile-menu-exit.png);
                    right: -250px;
                }
            }
            &_nav {
                display: none;
            }
            &_nav2 {
                @include flexbetween();
                position: absolute;
                z-index: 1006;
                top: -400px;
                right: -6vh;
                left: -6vh;
                bottom: 100vh;
                padding: 4vh 0;
                transition: 1s;
                background-color: darkslategray;
                opacity: 0.9;
                .intro_header-item {
                    width: 100%;
                    margin-bottom: 0;
                    padding-bottom: 20px;
                }
            }
        }
        .main {
            padding-top: 120px;
            &-title {
            font-size: 55px;
            margin-bottom: 100px;
            }
            &-videoButton {
                margin-bottom: 46px;
            }
        }

    }
    .service-desc {
        text-align: left;
    }
}
@media (max-width:457px) {
    
    .assistance-card-item {
        width: 100%;
        color: #fff;
        &::after {
            background-color: #303030;
        }
        &:nth-of-type(2n) {
            color: #1c1c1c;
            &::after {
                background-color: #fff;
            }
        }
    }
    .howwework  ,.advantages
    {
        &-column {
            width:100%;
            height:320px;
            margin-bottom:40px;
        }
        .container{
        flex-wrap:wrap;
        padding-bottom: 0;
        }
    }
    .howwework {
        &-column {
        &-wrapper {
        &_digit {
            width: 12%;
        }
        &:last-of-type {
            align-items:center;
                }
                
            }
        }
    }

    .tarifi {
        &-card {
            &-desc {
                &::before {

                }
            }
        }
    }
    .advantages {
        &-column
        {
            height:initial;
        }
        padding-bottom:50px;
        .container {
            &:nth-of-type(2), &:nth-of-type(3) {
                padding-top: 0;
            }
        }
    }

    .faces {
        .container {
            width: 100%;
        }
        &-wrapper {
            width: 100%;
        }
        &-images {
            width: 100%;
        }
    }
    .gastro-gid {
        div p {
            font-size: 10px;
        }
    }

    .roots {
        &-desc {
            text-align: justify;
        }
    }

    .footer {
        padding: 50px 10%;
        &-title {
            font-size: 12px;
            margin-bottom: 20px;
            text-align: left;
            padding-left: 20px;
        }
        &-form {
            width: 100%;
            height: 50px;
            flex-wrap: wrap;
            &-input {
                width: 100%;
            }
            &-button {
                width: 100%;
            }
        }
        &-desc {
            text-align:center;
            font-size: 12px;
            span {
                font-size: 12px;
            }
        }
    }
}

@media (max-width:377px) {
    .intro {
        &_header {
            &-item {
                font-size: 1em;
            }
        }
        .main {
            &-subtitle {
                font-size: 1.6em;
            }
            &-title {
                font-size: 3.2em;
                margin-bottom: 100px;
            }
            &-videoButton {
                width: 80px;
            }
            &-desc {
                font-size: 1em;
            }
        }
    }
}

@media (min-width:374px) and (max-width:376px) and (height:812px) {
    .intro {
        .main {
            padding-top: 120px;
            &-title {
                margin-bottom: 120px;
            }
            &-videoButton {
                margin-bottom: 51px;
            }
        }
    }
}
@media (max-width:321px) {
    .intro {
        font-size:0.8em;
        &_header {
            &-item {
                font-size: 1.2em;
            }
        }
        .main {
            padding-top: 100px;
            &-subtitle {
                font-size: 1.6em;
            }
            &-title {
                font-size: 3.2em;
                margin-bottom: 75px;
            }
            &-videoButton {
                width: 70px;
                margin-bottom: 25px;
            }
            &-desc {
                font-size: 1.1em;
            }
        }
    }
}}

.usluga-page {
    background-color: #EBEBEB;
    transition: 1s;
    &-title {
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .assistance-card {
        justify-content: center;
        transition: 1s;
        &-item {
            &::after {
                background-color: transparent;
            }
        }
    }
    .assistance-details-title {
        text-align: left;
        margin-left: 10%;
        font-weight: 500;
        transition: 1s;
    }

    p.assistance-details-desc, p, li {
        text-align: left;
        margin:0 10%;
        font-weight: 400;
        transition: 1s;
    }
}

.back-arrow {
    display: inline-block;
    position: fixed;
    top: 50px;
    left: 50px;
    padding: 8px;
    border-radius: 22%;
    z-index: 1;
    svg {
        width: 20px;
        height: 20px;
        transition: 0.4s;
        path {
            fill: #1c1c1c;
        }
    }
    transition: 0.4s;
    &:hover {
        background-color: #fff;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        border-radius: 50%;
        svg path{
            fill: #000;
        }
        transform: scale(1.1);
    }
}

@media (max-width:777px) {
    .usluga-page {
        padding-top: 10px;
    }
}
@media (max-width:450px) {
    .back-arrow {
        top: 7px;
        left: 7px;
        transition: 1s;
        background-color: #ebebeb;
    }
}

